@page "/NewPassword/{token}"
@model DragoesEscola.Pages.NewPasswordModel

@{
  Layout = null;
}


<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>::Nova senha::</title>
  <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/logo.png" />
  <link rel="stylesheet" href="~/assets/css/styles.min.css" asp-append-version="true" />
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
  <style>
    .elemento {
      background: linear-gradient(45deg, #000 5%, #F00 50%, #000 95%);
    }
  </style>
</head>

<body class="elemento">
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
       data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="~/assets/images/logos/logo.png" style="width:100px" alt="">
                </a>
                <form method="post">
                  <input type="hidden" asp-for="Input.tokenPassword" />
                  <div class="mb-3">
                    <label class="form-label">Nova senha:</label>
                    <input asp-for="Input.LoginPass" type="password" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Confirmar nova senha:</label>
                    <input asp-for="Input.ConfirmLoginPass" type="password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Confirmar</button>
                  <div class="d-flex">
                    <div class="ms-auto" style="padding-right: 5px;">
                      <a class="text-primary fw-bold ms-2" style="font-weight: 100" href="~/">Voltar para a tela de login</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>

<script>
    const status = '@(TempData["ForgotStatus"] ?? "")';
    var mensagem = @Html.Raw(Json.Serialize(TempData["Mensagem"]));

  if (status === 'sucesso') {
    Swal.fire({
      icon: 'success',
      title: 'Sucesso!',
      text: mensagem
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/';
      }
    });
  }
  else if (status === 'ERROR') {
    Swal.fire({
      icon: 'error',
      title: 'Erro!',
      text: mensagem
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = window.location.pathname;
      }
    });
  }
</script>